go 1.20

use (
	./annalyns-infiltration
	./blackjack
	./card-tricks
	./cars-assemble
	./hello-world
	./lasagna
	./need-for-speed
	./party-robot
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
